---
---
article div
    display: block
    padding: 20px
    clear: both
    img
        max-width: 100px
        max-height: 100px
        display: inline-block

article img.logo
    clear: left
    float: left
    width: 200px
    margin: 0px 20px 20px 0px
    &.right
        clear: right
        float: right
        margin: 0px 0px 20px 20px

#form
    float: left
    max-width: 600px
    + img
        float: right
        margin-top: 10px