.bg {
    background-image: url(../images/bg.jpg);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-size: cover;
    position: fixed;
    z-index: -100;
}
.jumbotron {
    color: white;
    height: 100vh;
    width: 100vw;
    padding-top: 20vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.jumbotron h2 {
    font-size: 2.5em;
}
.jumbotron p {
    font-size: 1.1em;
}
.jumbotron .column {
    width: 50%;
    position: absolute;
    bottom: 0;
}
.jumbotron .column:first-child {
    width: 30%;
    left: 0;
}
.jumbotron .column:last-child {
    width: 70%;
    padding: 30px 50px 20px;
    font-weight: 500;
    right: 0;
    background: rgba(0,0,0,.5);
}
.jumbotron-video-wrapper {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    width: 100%;
}
.jumbotron iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
article {
    text-align: justify;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
}
article img {
    margin-top: 20px;
    height: 251px;
    width: 330px;
}
@media (max-width: 900px) {
    .bg {
        display: none;
    }
    .jumbotron {
        display: block;
        color: black;
        height: auto;
    }
    .jumbotron .column:first-child, .jumbotron .column:last-child {
        width: 100%;
        position: relative;
        margin: 0;
    }
    .jumbotron h2, .jumbotron p {
        color: black;
        text-align: center;
        padding: 0 20px;
        text-shadow: none;
    }
    .jumbotron h2 {
        margin-top: 20px;
    }
}
@media (max-height: 500px) and (orientation: landscape) {
    .jumbotron {
        padding-top: 90px;
        position: relative;
    }
}
