.bg {
    background-image: url(../images/bg.jpg);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    position: fixed;
    z-index: -100;
}

.jumbotron {
    color: white;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 20vh;
}
.jumbotron h2 {
    font-size: 2em;
}
.jumbotron .column {
    position: relative;
    display: block;
    width: 50%;
    padding: 0;
}
.jumbotron .column:first-child {
    padding-left: 20px;
    padding-right: 10px;
}
.jumbotron .column:last-child {
    padding-left: 10px;
    padding-right: 20px;
}
@media (max-width: 900px) {
    .jumbotron {
        display: block;
        min-height: 0;
    }
    .jumbotron .column {
        width: 100%;
        padding: 0 !important;
        display: block;
    }
    .jumbotron h2, .jumbotron p {
        color: black;
        text-align: center;
        padding: 0 20px;
    }
    .jumbotron h2 {
        margin-top: 20px;
    }
}
@media (max-height: 900px) and (orientation: landscape) {
    .jumbotron {
        padding-top: 130px;
    }
}
.jumbotron-video-wrapper {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    width: 100%;
}
.jumbotron iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}
article img {
    margin-top: 20px;
}
