---
---
article > img
  width: 100%

h2
  display: block
  width: 100%
  text-align: center
  font-size: 3em
  margin: 20px

.vertical-center-container
  img
    width: 150px
    margin: 0 20px 20px 0 !important
    flex-basis: 40%

.vertical-center-container .rtl
  padding-bottom: 1.5em

@media (min-width: 800px)
  .vertical-center-container
    display: flex
    align-items: center
    justify-content: center
    img
      min-width: 150px
      max-width: 150px
