@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(fonts/Raleway-200.woff2) format('woff2'), url(fonts/Raleway-200.ttf) format('truetype');
    unicode-range: U+0000-00FF;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: local('Raleway Thin'), local('Raleway-Thin'), url(fonts/Raleway-100.woff2) format('woff2'), url(fonts/Raleway-100.ttf) format('truetype');
    unicode-range: U+0000-00FF;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/OpenSans-300.woff2) format('woff2'), url(fonts/OpenSans-300.ttf) format('truetype');
    unicode-range: U+0000-00FF;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: sub-pixel;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
}
a {
    color: #bf2b2b;
}
a:hover {
    text-decoration: none;
}
h1, h2, h3 {
    margin: 0;
    font-family: 'Raleway', 'Open Sans', sans-serif;
    font-weight: 100;
}
h1 {
    font-size: 3em;
}
h4 {
    font-weight: bold;
    font-size: 1.1em;
    margin: 0;
}
iframe {
    border: none;
}
header {
    font-family: 'Raleway', 'Open Sans', sans-serif;
    background: white;
    padding: 15px;
    width: 100%;
    position: absolute;
    top: 0;
}
header a {
    text-decoration: none;
}
header a div {
    -webkit-transition: .2s color;
            transition: .2s color;
}
header a div:hover h2, header a div:hover h3 {
    color: #6f2a2a;
    -webkit-transition: .2s color;
            transition: .2s color;
}
header div {
    display: inline-block;
    position: relative;
    top: -3px;
    color: black;
}
header h2 {
    font-size: 3.5em;
    color: #444;
    font-weight: 100;
}
header h3 {
    font-weight: 200;
    margin-left: 4px;
}
.menuButton {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
    width: 30px;
    height: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: white;
    border: solid 1px #ccc;
    box-sizing: content-box;
    padding: 3px 10px 13px 10px;
    display: none;
}
.menuBar, .menuBar:after, .menuBar:before {
    width: 100%;
    height: 3px;
    background-color: #111;
    border-radius: 1px;
}
.menuBar:after, .menuBar:before {
    content: '';
    position: absolute;
}
.menuBar:after {
    top: 20px;
}
.menuBar:before {
    top: 10px;
}
nav {
    display: inline;
    position: relative;
    bottom: 0;
}
nav ul, nav ul li {
    position: relative;
    margin: 0;
}
nav ul {
    list-style: none;
    padding: 0;
    z-index: 1000;
}
nav > ul {
    margin: 40px 40px 0 0;
    float: right;
}
nav ul a {
    display: block;
    color: black;
    padding: 10px 15px;
}
nav ul li:nth-child(3) li a {
    padding: 6px 15px;
}
nav ul li {
    float: left;
    padding: 0;
}
nav ul li:hover {
    background: #f6f6f6;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 0;
}
nav ul:nth-child(3) ul {
    width: 230px;
}
nav ul:nth-child(3) a {
    padding: 9px 14px;
}
nav ul ul li {
    width: 100%;
}
nav ul li:hover > ul {
    display: block;
}
article {
    padding: 10em 60px 30px;
    background: white;
    line-height: 1.6;
    overflow: hidden;
}
article img, article iframe[allowfullscreen] {
    max-width: 420px;
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
}
article img:nth-of-type(odd) {
    float: right;
    margin-right: 0;
    margin-left: 20px;
}
article img:first-of-type, article iframe:first-of-type {
    margin-top: 20px;
}
article h1 {
    text-align: center;
}
footer {
    text-align: center;
    background: #751f1f;
    color: white;
    padding-bottom: 30px;
    width: 100%;
}
footer div {
    margin-top: 50px;
    width: 15%;
    line-height: 1.4;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
footer a {
    text-decoration: none;
    color: inherit;
}
footer div a {
    display: block;
}
.social {
    width: auto;
    margin-right: 15px;
}
.social img {
    cursor: pointer;
    display: block;
    width: 40px;
    margin: 2px;
}
@media (max-width: 1000px) {
    .menuButton {
        display: block;
    }
    header img {
        display: none;
    }
    nav {
        z-index: 500;
        position: fixed;
        top: 100vh;
        left: 0;
        background: lightgrey;
    }
    nav * {
        display: block;
        position: static;
    }
    nav li {
        display: block;
    }
    nav ul ul {
        display: block;
    }
    footer {
        height: auto;
        margin: 0;
        padding: 20px;
    }
    footer div {
        display: none;
    }
}
@media (max-width: 800px) {
    header h3 {
        display: none;
    }
    article img, article iframe[allowfullscreen] {
        width: 100%;
        float: none;
        margin-right: 0;
        margin-bottom: 10px;
    }
    article img:nth-of-type(even) {
        float: none;
        margin-left: 0;
    }
    article {
        padding: 0 30px;
    }
}
