@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: local('Raleway Thin'), local('Raleway-Thin'), url(http://fonts.gstatic.com/s/raleway/v9/RJMlAoFXXQEzZoMSUteGWFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: #bf2b2b;
}
a:hover {
    text-decoration: none;
}
h1,
h2,
h3 {
    margin: 0;
    font-family: "Raleway", "Open Sans", sans-serif;
    font-weight: 100;
}
h2 {
    margin-bottom: 20px;
}
h4 {
    font-weight: bold;
    font-size: 1.1em;
    margin: 0;
}
iframe {
    border: none;
}
header {
    font-family: "Raleway", "Open Sans", sans-serif;
    background: white;
    padding: 15px;
    width: 100%;
    position: absolute;
    top: 0;
}
header a {
    text-decoration: none;
}
header a div {
    transition: .2s color;
}
header a div:hover h1,
header a div:hover h3 {
    color: #6f2a2a;
    transition: .2s color;
}
header div {
    display: inline-block;
    position: relative;
    top: -3px;
    color: black;
}
header h1 {
    font-size: 3.5em;
    color: #444;
    font-weight: 100;
}
header h3 {
    font-weight: 300;
    margin-left: 4px;
}
.menuButton {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
    width: 30px;
    height: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: white;
    border: solid 1px #ccc;
    box-sizing: content-box;
    padding: 3px 10px 13px 10px;
    display: none;
}
.menuBar,
.menuBar:after,
.menuBar:before {
    width: 100%;
    height: 3px;
    background-color: #111;
    border-radius: 1px;
}
.menuBar:after,
.menuBar:before {
    content: '';
    position: absolute;
}
.menuBar:after {
    top: 20px;
}
.menuBar:before {
    top: 10px;
}
nav {
    display: inline;
    position: relative;
    bottom: 0;
}
nav ul,
nav ul li {
    position: relative;
    margin: 0;
}
nav ul {
    list-style: none;
    padding: 0;
    z-index: 1000;
}
nav > ul {
    margin: 40px 40px 0 0;
    float: right;
}
nav ul a {
    display: block;
    color: #333;
    padding: 10px 15px;
}
nav ul li:nth-child(3) li a {
    padding: 6px 15px;
}
nav ul li {
    float: left;
    padding: 0;
}
nav ul li:hover {
    background: #f6f6f6;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 0;
}
nav ul:nth-child(3) ul {
    width: 230px;
}
nav ul:nth-child(3) a {
    padding: 9px 14px;
}
nav ul ul li {
    width: 100%;
}
nav ul li:hover > ul {
    display: block;
}
article {
    padding: 20vh 40px 30px;
    background: white;
    line-height: 1.6;
}
article img, article iframe[allowfullscreen] {
    max-width: 420px;
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
}
article img:nth-of-type(even) {
    float: right;
    margin-right: 0;
    margin-left: 20px;
}
footer {
    text-align: center;
    background: #751f1f;
    color: white;
    padding-bottom: 30px;
    width: 100%;
}
footer div {
    margin-top: 50px;
    width: 15%;
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
}
footer a {
    text-decoration: none;
    color: inherit;
}
footer div a {
    display: block;
}
.social {
    width: auto;
    margin-right: 15px;
}
.social img {
    cursor: pointer;
    display: block;
    width: 40px;
    margin: 2px;
}
@media (max-width: 1000px) {
    .menuButton {
        display: block;
    }
    header img {
        display: none;
    }
    nav {
        z-index: 500;
        position: fixed;
        top: 100vh;
        left: 0;
        background: lightgrey;
    }
    nav li {
        position: static;
    }
    footer {
        height: auto;
        margin: 0;
        padding: 20px;
    }
    footer div {
        display: none;
    }
}
@media (max-width: 800px) {
    header h3 {
        display: none;
    }
    article img, article iframe[allowfullscreen] {
        width: 100%;
        float: none;
        margin-right: 0;
        margin-bottom: 10px;
    }
    article img:nth-of-type(even) {
        float: none;
        margin-left: 0;
    }
    article {
        padding: 0 30px;
    }
}
