---
layout: default
permalink: /instructors-and-staff
stylesheets:
- instructors-and-staff
title: Instructors and Staff
---
<article>
    <h1>Experience and Excellence</h1>
    <img src="images/instructors-and-staff.jpg" src="The staff at English Now!">
    <p>Our approach starts with world-class staff and instructors. We are educators who care deeply about excellence in language education and the relationships formed through service of our students. Our school attracts the finest English language instructors in the Washington, D.C. metro area, and we do everything that we can to support them in their efforts. Our staff is deeply experienced and will offer you advice about which programs might make sense for you, and our instructors are all certified or have been teaching the English language to international students for many years.</p>
    <p>We do not have significant hiring needs, but we always want to meet people with a great English language teaching and international service background and do have needs to add people from time to time. For more information regarding what we look for and requirements for our staff, see <a href="hiring">here</a>. We look forward to meeting you soon!</p>
    <h2>Staff Biographies</h2>
    {% for employee in site.data.staff %}
    <p>
        <img src="/images/staff/{{ employee.image }}">
        <strong>{{ employee.name }}</strong> {{ employee.bio }}
    </p>
    {% endfor %}
    <h2>Instructor Biographies</h2>
    {% for employee in site.data.instructors %}
    <p>
        <img src="/images/staff/{{ employee.image }}">
        <strong>{{ employee.name }}</strong> {{ employee.bio }}
    </p>
    {% endfor %}

    <p>For more information about English Now! and our unique approach to English language study, please visit the school or <a href="/contact">contact us</a>.</p>
</article>
