<footer>
    <div class="social">
        <img id="emailShareButton" src="/images/social/email.png">
        <img id="facebookShareButton" src="/images/social/facebook.png">
        <img id="twitterShareButton" src="/images/social/twitter.png">
        <img id="googleShareButton" src="/images/social/google.png">
    </div>
    <div>
        <h4>About Us</h4>
        <a href="/history-and-partners">History &amp; Partners</a>
        <a href="/instructors-and-staff">Instructors &amp; Staff</a>
        <a href="/why-english-now">Why English Now!?</a>
        <a href="/en-in-the-community">EN! in the Community</a>
        <a href="/encompass">ENcompass:  Ideas and Information Online!</a>
    </div>
    <div>
        <h4>About the School</h4>
        <a href="/about-the-school/english">About the School</a>
        <a href="/about-the-school/arabic">المدرس</a>
        <a href="/about-the-school/chinese">学校的介绍</a>
        <a href="/about-the-school/french">Lettre de Directeur</a>
        <a href="/about-the-school/german">Willkommen an Unserer Schule</a>
        <a href="/about-the-school/indonesian">Surat dari Direktur</a>
    </div>
    <div>
        <a href="/about-the-school/italian">Un Messaggio dal Direttore</a>
        <a href="/about-the-school/japanese">ディレクターからのご挨拶</a>
        <a href="/about-the-school/korean">디렉터로부터의 편지</a>
        <a href="/about-the-school/portugese">Carta do Diretor</a>
        <a href="/about-the-school/spanish">Mensaje del Director</a>
        <a href="/about-the-school/russian">ПИСЬМО ДИРЕКТОРА</a>
    </div>
    <div>
        <h4><a href="/our-programs">Our Programs</a></h4>
        <a href="/intensive-english-program">Intensive English Program</a>
        <a href="/conversation-courses">Conversation Courses</a>
        <a href="/english-for-professionals">English for Professionals</a>
        <a href="/private-lessons">Private Lessons</a>
        <a href="/writing">Writing</a>
        <a href="/parent-talk">Parent Talk</a>
    </div>
    <div>
        <a href="/hybrid-lessons">Hybrid Lessons</a>
        <a href="/business-english-sales">Business English / Sales</a>
        <a href="/language-culture-and-medicine">Language Culture and Medicine</a>
        <a href="/legal-english">Legal English</a>
        <a href="/youth">Youth</a>
        <a href="/toefl">TOEFL</a>
        <a href="/corporate-programs">Corporate Programs</a>
    </div>
    <p>© 2016 English Now! All rights reserved. Website built and designed by <a href="http://erikboesen.com">Erik Boesen</a>.</p>
</footer>
<script src="/js/scripts.js"></script>
{% if page.scripts %}
    {% for script in page.scripts %}
        <script src="/js/{{ script }}.js"></script>
    {% endfor %}
{% endif %}