<footer>
    <div class="social">
        <img id="emailShareButton" src="/images/social/email.png">
        <img id="facebookShareButton" src="/images/social/facebook.png">
        <img id="twitterShareButton" src="/images/social/twitter.png">
        <img id="googleShareButton" src="/images/social/google.png">
    </div>
    <div>
        <h4>About Us</h4>
        <a href="/history-partners-and-advisory-board">History, Partners, and Advisory Board</a>
        <a href="/instructors-and-staff">Instructors &amp; Staff</a>
        <a href="/location">Location</a>
        <a href="/community-service">Community Service</a>
        <a href="/how-to-enroll">How to Enroll</a>
    </div>
    <div>
        <h4>About the School</h4>
        <a href="/welcome/english">About the School</a>
        <a href="/welcome/amharic">ደብዳቤ ከዳዱ</a>
        <a href="/welcome/arabic">المدرس</a>
        <a href="/welcome/chinese">学校的介绍</a>
        <a href="/welcome/french">Lettre de Directeur</a>
        <a href="/welcome/german">Willkommen an Unserer Schule</a>
        <a href="/welcome/indonesian">Surat dari Direktur</a>
        <a href="/welcome/italian">Un Messaggio dal Direttore</a>
    </div>
    <div>
        <a href="/welcome/japanese">ディレクターからのご挨拶</a>
        <a href="/welcome/korean">디렉터로부터의 편지</a>
        <a href="/welcome/mongolian">Захирлын захидал</a>
        <a href="/welcome/persian">نامه مدیر</a>
        <a href="/welcome/portugese">Carta do Diretor</a>
        <a href="/welcome/russian">ПИСЬМО ДИРЕКТОРА</a>
        <a href="/welcome/spanish">Mensaje del Director</a>
        <a href="/welcome/turkish">Direktorun Mektubu</a>
    </div>
    <div>
        <h4><a href="/our-programs">Our Programs</a></h4>
        <a href="/semi-intensive-and-intensive-programs">Semi-Intensive/Intensive Programs</a>
        <a href="/conversation-courses">Conversation Courses</a>
        <a href="/english-for-workplace-communication">English for Workplace Communication</a>
        <a href="/private-lessons">Private Lessons</a>
        <a href="/parent-talk">Parent Talk</a>
    </div>
    <div>
        <a href="/eiken">Eiken Prep</a>
        <a href="/online-programs">Online Programs</a>
        <a href="/toefl">TOEFL</a>
        <a href="/corporate-programs">Corporate Programs</a>
    </div>
    <p>© 2016 English Now! All rights reserved. Website built and designed by <a href="http://erikboesen.com">Erik Boesen</a>.{{ page.footer }}</p>
</footer>
<script src="/js/scripts.js"></script>
{% if page.scripts %}
    {% for script in page.scripts %}
<script src="/js/{{ script }}.js"></script>
    {% endfor %}
{% endif %}
