<footer>
    <div class="social">
        <img id="emailShareButton" src="/images/social/email.png">
        <img id="facebookShareButton" src="/images/social/facebook.png">
        <img id="twitterShareButton" src="/images/social/twitter.png">
    </div>
    <p>© {{ site.time | date: '%Y' }} English Now! All rights reserved. Website built and designed by <a href="http://erikboesen.com">Erik Boesen</a>.{{ page.footer }}</p>
</footer>
<script src="/js/scripts.js"></script>
{% if page.scripts %}
    {% for script in page.scripts %}
<script src="/js/{{ script }}.js"></script>
    {% endfor %}
{% endif %}
