<header>
    <a href="/">
        <img src="/images/logo.png" alt="English Now! logo">
        <div>
            <h2>English Now!</h2>
            <h3>A Special Place To Learn English</h3>
        </div>
    </a>
    <div id="nav-button">
        <div id="nav-button-bar"></div>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about-the-school/english">About the School</a>
                <ul>
                    <li><a href="/about-the-school/english">English</a></li>
                    <li><a href="/about-the-school/arabic">العربية</a></li>
                    <li><a href="/about-the-school/chinese">中文</a></li>
                    <li><a href="/about-the-school/french">Français</a></li>
                    <li><a href="/about-the-school/german">Deutsche</a></li>
                    <li><a href="/about-the-school/indonesian">Bahasa Indonesia</a></li>
                    <li><a href="/about-the-school/italian">Italiano</a></li>
                    <li><a href="/about-the-school/japanese">日本語</a></li>
                    <li><a href="/about-the-school/korean">한국어</a></li>
                    <li><a href="/about-the-school/portugese">Português</a></li>
                    <li><a href="/about-the-school/spanish">Español</a></li>
                    <li><a href="/about-the-school/russian">Русский</a></li>
                </ul>
            </li>
            <li><a href="/course-offerings">Course Offerings</a>
                <ul>
                    <li><a href="/intensive-english-program">Intensive English Program</a></li>
                    <li><a href="/conversation-courses">Conversation Courses</a></li>
                    <li><a href="/english-for-professionals">English for Professionals</a></li>
                    <li><a href="/private-lessons">Private Lessons</a></li>
                    <li><a href="/writing">Writing</a></li>
                    <li><a href="/parent-talk">Parent Talk</a></li>
                    <li><a href="/toeic">TOEIC</a></li>
                    <li><a href="/toefl">TOEFL</a></li>
                    <li><a href="/business-english-sales">Business English / Sales</a></li>
                    <li><a href="/language-culture-and-medicine">Language Culture and Medicine</a></li>
                    <li><a href="/legal-english">Legal English</a></li>
                    <li><a href="/youth">Youth</a></li>
                    <li><a href="/corporate-programs">Corporate Programs</a></li>
                    <li><a href="/hybrid-lessons">Hybrid Lessons</a></li>
                </ul>
            </li>
            <li><a href="/contact-us">Contact Us</a></li>
            <li><a>More</a>
                <ul>
                    <li><a href="/how-to-enroll">How to Enroll</a></li>
                    <li><a href="/instructors-and-staff">Instructors &amp; Staff</a></li>
                    <li><a href="/history-and-partners">History &amp; Partners</a></li>
                    <li><a href="/location">Location</a></li>
                    <li><a href="/student-services">Student Services</a></li>
                    <li><a href="/activities">Activities</a></li>
                    <li><a href="/life-in-the-us">Life in the US</a></li>
                    <li><a href="/en-in-the-community">EN! in the Community</a></li>
                    <li><a href="/en-outdoors">EN! Outdoors</a></li>
                    <li><a href="/encompass">ENcompass</a></li>
                    <li><a href="/homestays">Homestays</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>