<header>
    <a href="/">
        <img src="/images/logo.png" alt="English Now! logo">
        <div>
            <h2>English Now!</h2>
            <h3>A Special Place To Learn English</h3>
        </div>
    </a>
    <div id="nav-button">
        <div id="nav-button-bar"></div>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/welcome/english">Welcome</a>
                <ul>
                    <li><a href="/welcome/english">English</a></li>
                    <li><a href="/welcome/arabic">العربية</a></li>
                    <li><a href="/welcome/chinese">中文</a></li>
                    <li><a href="/welcome/french">Français</a></li>
                    <li><a href="/welcome/german">Deutsche</a></li>
                    <li><a href="/welcome/indonesian">Bahasa Indonesia</a></li>
                    <li><a href="/welcome/italian">Italiano</a></li>
                    <li><a href="/welcome/japanese">日本語</a></li>
                    <li><a href="/welcome/korean">한국어</a></li>
                    <li><a href="/welcome/portuguese">Português</a></li>
                    <li><a href="/welcome/spanish">Español</a></li>
                    <li><a href="/welcome/russian">Русский</a></li>
                    <li><a href="/welcome/persian">Persian</a></li>
                    <li><a href="/welcome/turkish">Türk</a></li>
                    <li><a href="/welcome/mongolian">монгол хэл</a></li>
                    <li><a href="/welcome/amharic">አማርኛ</a></li>
                </ul>
            </li>
            <li><a href="/programs">Course Offerings</a>
                <ul>
                    <li><a href="/programs/summer-2020">New for Summer 2020</a></li>
                    <li><a href="/programs/intensive">Semi-Intensive and Intensive English Programs</a></li>
                    <li><a href="/programs/conversation">Conversation Program</a></li>
                    <li><a href="/programs/exploring-english-together">Exploring English Together, Online!</a></li>
                    <li><a href="/programs/workplace-english">English for Workplace Communication</a></li>
                    <li><a href="/programs/private-lessons">Private Lessons</a></li>
                    <li><a href="/programs/online">Online Programs</a></li>
                    <li><a href="/programs/parent-talk">Parent Talk & First Steps in English</a></li>
                    <li><a href="/programs/legal-english">English for Lawyers &amp; Diplomats</a></li>
                    <li><a href="/programs/eiken">Eiken Prep</a></li>
                    <li><a href="/programs/toeic">TOEIC</a></li>
                    <li><a href="/programs/toefl">TOEFL</a></li>
                    <li><a href="/programs/corporate">Corporate Programs</a></li>
                </ul>
            </li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a>About the School</a>
                <ul>
                    <li><a href="/community-service">Community Service</a></li>
                    <li><a href="/how-to-enroll">How to Enroll</a></li>
                    <li><a href="/instructors-and-staff">Instructors &amp; Staff</a></li>
                    <li><a href="/about">History &amp; Partners</a></li>
                    <li><a href="/location">Location</a></li>
                    <li><a href="/activities">Activities</a></li>
                    <li><a href="/life-in-the-us">Life in the US</a></li>
                    <li><a href="/en-outdoors">EN! Outdoors</a></li>
                    <li><a href="/homestays">Homestays</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
