<header>
    <a href="/">
        <img src="/images/logo.png" alt="English Now! logo">
        <div>
            <h2>English Now!</h2>
            <h3>A Special Place To Learn English</h3>
        </div>
    </a>
    <div id="nav-button">
        <div id="nav-button-bar"></div>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/welcome/english">Welcome</a>
                <ul>
                    <li><a href="/welcome/english">English</a></li>
                    <li><a href="/welcome/arabic">العربية</a></li>
                    <li><a href="/welcome/chinese">中文</a></li>
                    <li><a href="/welcome/french">Français</a></li>
                    <li><a href="/welcome/german">Deutsche</a></li>
                    <li><a href="/welcome/indonesian">Bahasa Indonesia</a></li>
                    <li><a href="/welcome/italian">Italiano</a></li>
                    <li><a href="/welcome/japanese">日本語</a></li>
                    <li><a href="/welcome/korean">한국어</a></li>
                    <li><a href="/welcome/portugese">Português</a></li>
                    <li><a href="/welcome/spanish">Español</a></li>
                    <li><a href="/welcome/russian">Русский</a></li>
                    <li><a href="/welcome/persian">Persian</a></li>
                    <li><a href="/welcome/turkish">Türk</a></li>
                    <li><a href="/welcome/mongolian">монгол хэл</a></li>
                    <li><a href="/welcome/amharic">አማርኛ</a></li>
                </ul>
            </li>
            <li><a href="/course-offerings">Course Offerings</a>
                <ul>
                    <li><a href="/intensive-english-program">Intensive English Program</a></li>
                    <li><a href="/conversation-courses">Conversation Courses</a></li>
                    <li><a href="/english-for-workplace-communication">English for Workplace Communication</a></li>
                    <li><a href="/private-lessons">Private Lessons</a></li>
                    <li><a href="/online-programs">Online Programs</a></li>
                    <li><a href="/writing">Writing</a></li>
                    <li><a href="/parent-talk">Parent Talk</a></li>
                    <li><a href="/toeic">TOEIC</a></li>
                    <li><a href="/toefl">TOEFL</a></li>
                    <li><a href="/business-english-sales">Business English / Sales</a></li>
                    <li><a href="/language-culture-and-medicine">Medical English</a></li>
                    <li><a href="/legal-english">Legal English</a></li>
                    <li><a href="/youth">Youth</a></li>
                    <li><a href="/corporate-programs">Corporate Programs</a></li>
                </ul>
            </li>
            <li><a href="/contact-us">Contact Us</a></li>
            <li><a>About the School</a>
                <ul>
                    <li><a href="/how-to-enroll">How to Enroll</a></li>
                    <li><a href="/instructors-and-staff">Instructors &amp; Staff</a></li>
                    <li><a href="/history-partners-and-advisory-board">History, Partners, and Advisory Board</a></li>
                    <li><a href="/location">Location</a></li>
                    <li><a href="/student-services">Student Services</a></li>
                    <li><a href="/activities">Activities</a></li>
                    <li><a href="/life-in-the-us">Life in the US</a></li>
                    <li><a href="/community-service">Community Service</a></li>
                    <li><a href="/en-outdoors">EN! Outdoors</a></li>
                    <li><a href="/encompass">ENcompass</a></li>
                    <li><a href="/homestays">Homestays</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
